<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>milk2</key>
	<dict>
		<key>exceptions</key>
		<array>
			<dict>
				<key>quantity</key>
				<string></string>
				<key>toDate</key>
				<string></string>
				<key>fromDate</key>
				<string></string>
			</dict>
		</array>
		<key>toDate</key>
		<string></string>
		<key>fromDate</key>
		<string></string>
		<key>deliveryCharge</key>
		<string></string>
		<key>quantity</key>
		<string>0</string>
		<key>rate</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
	<key>milk1</key>
	<dict>
		<key>exceptions</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>0.5</string>
				<key>toDate</key>
				<string>Jul-24-2013</string>
				<key>fromDate</key>
				<string>Jul-23-2013</string>
			</dict>
		</array>
		<key>toDate</key>
		<string></string>
		<key>fromDate</key>
		<string></string>
		<key>deliveryCharge</key>
		<string></string>
		<key>quantity</key>
		<string>0</string>
		<key>rate</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
	<key>sections</key>
	<integer>1</integer>
</dict>
</plist>
